@media (min-width: 577){
	aside#barraLateral {
		width: 200px;
		height: 100%;
	}
	section#mainArea {
		width: 620px;
	}
}

@media (min-width: 576){
	aside#barraLateral {
		width: 80px;
		height: 100%;
	}
	section#mainArea {
		width: 400px;
	}
} 

